<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Burak Uzkent",
  "url": "https://uzkent.github.io",
  "image": "https://uzkent.github.io/images/profile.png",
  "jobTitle": "Principal Member of Technical Staff",
  "worksFor": { "@type": "Organization", "name": "AMD" },
  "email": "uzkent.burak@gmail.com",
  "sameAs": [
    "https://scholar.google.com/citations?user=-Es6xrgAAAAJ",
    "https://github.com/uzkent",
    "https://www.linkedin.com/in/burak-uzkent-11978031/",
    "https://twitter.com/burak_uzkent"
  ]
}
</script>
